<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agenda</title>
</head>

<body>

    <a href="{{url_for('inicial')}}">Home</a>
    <a href="{{url_for('carreira')}}">Carreira</a>
    <a href="{{url_for('social')}}">Social</a>
    <a href="{{url_for('geral')}}">Geral</a>
    <a href="{{url_for('agenda')}}">Agenda</a>

    <div>

        <form action="{{url_for('agenda')}}">

            <label for="agenda">
                Agenda
            </label>

            <button type="submit">
                Entrar
            </button>

        </form>

    </div>

</body>
</html>